@layer components {
  [data-tooltip] {
    position: relative;

    --_c: translateX(-50%);
    --_o: translateY(4px);

    &::before,
    &::after {
      position: absolute;
      inset-inline-start: 50%;
      transform: var(--_c) var(--_o);
      opacity: 0;
      visibility: hidden;
      transition: opacity var(--transition-fast), transform var(--transition-fast), visibility var(--transition-fast);
      pointer-events: none;
      z-index: calc(var(--z-modal) + 10);
    }

    /* Text */
    &::after {
      content: attr(data-tooltip);
      inset-block-end: calc(100% + 10px);
      padding: var(--space-2) var(--space-3);
      font-size: var(--text-7);
      line-height: 1;
      white-space: nowrap;
      background: var(--foreground);
      color: var(--background);
      border-radius: var(--radius-medium);
    }

    /* Arrow (default: top) */
    &::before {
      content: '';
      inset-block-end: calc(100% - 5px);
      border: 8px solid transparent;
      border-top-color: var(--foreground);
    }

    &[data-tooltip-placement="bottom"] {
      --_o: translateY(-4px);

      &::before, &::after {
        inset-block-start: calc(100% + 10px);
        inset-block-end: auto;
      }

      &::before {
        inset-block-start: calc(100% - 5px);
        border-color: transparent;
        border-bottom-color: var(--foreground);
      }
    }

    &:is([data-tooltip-placement="left"], [data-tooltip-placement="right"]) {
      --_c: translateY(-50%);

      &::before, &::after {
        inset-block-start: 50%;
        inset-block-end: auto;
      }

      &::before {
        border-color: transparent;
      }
    }

    &[data-tooltip-placement="left"] {
      --_o: translateX(4px);

      &::before, &::after {
        inset-inline-start: auto;
      }

      &::after {
        inset-inline-end: calc(100% + 10px);
      }

      &::before {
        inset-inline-end: calc(100% - 5px);
        border-inline-start-color: var(--foreground);
      }
    }

    &[data-tooltip-placement="right"] {
      --_o: translateX(-4px);

      &::after {
        inset-inline-start: calc(100% + 10px);
      }

      &::before {
        inset-inline-start: calc(100% - 5px);
        border-inline-end-color: var(--foreground);
      }
    }

    &:is(:hover, :focus-visible) {
      --_o: translateY(0);

      &::before, &::after {
        opacity: 1;
        visibility: visible;
        transition-delay: 700ms;
      }
    }
  }
}
